.logo {
    overflow: hidden;
    display: block;
    margin: 0 auto;
    width: 330px;
    height: 155px;
    border-radius: 10px;
    background: lightgray;
    display: flex;
    justify-content: space-around;
    align-items: center;
    object-fit: cover;
  }

.swipe-arrow {
    position: fixed;
    right: 10px;
    top: 60%;
    font-size: 30px;
    animation: slide 3s infinite;
}

@keyframes slide {
    0% {
        transform: translateX(0);
    }

    50% {
        transform: translateX(10px);
    }

    100% {
        transform: translateX(0);
    }
}