<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-img
        src="assets/images/ecoLogo.png"
        alt="Eco munch logo"
        class="logo"
      ></ion-img>
      <h2 class="logoText">Eco Munch</h2>
    </ion-buttons>

    <ion-buttons slot="end">
      <ion-button (click)="navigateToProfile()">
        <ion-icon
          class="profileLogo"
          size="large"
          name="person-circle"
          color="primary"
        ></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="page-container">
    <h1>What do I have</h1>

    <div (clickOutside)="onClickedOutside()">
      <ion-searchbar
        class="ion-no-padding ion-no-margin ion-no-border"
        placeholder="Filter by ingredients"
        (ionFocus)="onSearchBarFocus()"
        [(ngModel)]="newIngredient"
        (ionInput)="getItems($event)"
      ></ion-searchbar>

      <div *ngIf="filteredIngredients.length > 0">
        <ion-list>
          <ion-item
            *ngFor="let item of filteredIngredients"
            (click)="selectIngredient(item); $event.stopPropagation()"
          >
            {{ item }}
          </ion-item>
        </ion-list>
      </div>

      <div *ngIf="isSearchBarFocused" [@fadeOutIn]>
        <ion-card class="ion-no-margin gray-toolbar height">
          <ion-card-content>
            <div class="card-header-container">
              <h2 class="card-header">Ingredients</h2>
              <ion-chip
                color="primary"
                class="clear-button"
                (click)="clearIngredients()"
              >
                Clear
              </ion-chip>
            </div>
            <ion-chip
              *ngFor="let ingredient of userIngredients; let i = index"
              [@fadeOutIn]
            >
              <ion-label>{{ingredient}}</ion-label>
              <ion-icon
                name="close"
                (click)="removeIngredient(i, $event)"
              ></ion-icon>
            </ion-chip>
            <br />
            <ion-button
              expand="block"
              class="search-button"
              [disabled]="userIngredients.length === 0"
              (click)="searchMeals()"
            >
              <span>Search</span>
            </ion-button>

            <div
              *ngIf="isLoading"
              class="ion-text-center"
              style="padding-top: 10px"
            ></div>
          </ion-card-content>
        </ion-card>
      </div>
    </div>

    <h3 *ngIf="errorMessage" class="error-message ion-text-center">
      {{ errorMessage }}
    </h3>

    <!-- search recipe starts here -->

    <div *ngFor="let meal of recipeIngredients">
      <ion-card
        (click)="dishDetailsModal(meal)"
        *ngIf="showSearchResults"
        [@fadeOutIn]
      >
        <div class="card-image-container">
          <ion-img
            [src]="meal.strMealThumb"
            alt="{{ meal.strMeal }}"
            class="dish-img"
          />
          <ion-buttons class="favorite-button">
            <ion-button
              (click)="favoriteStatus[meal.idMeal] ? removeFavorite(meal) : addFavorite(meal); $event.stopPropagation()"
            >
              <ion-icon
                *ngIf="favoriteStatus[meal.idMeal]"
                name="heart"
                size="large"
                color="primary"
              ></ion-icon>
              <ion-icon
                *ngIf="!favoriteStatus[meal.idMeal]"
                name="heart-outline"
                size="large"
                color="primary"
              ></ion-icon>
            </ion-button>
          </ion-buttons>
        </div>
        <h3 class="ion-text-center">{{ meal.strMeal }}</h3>
        <div class="ingredients">
          <ion-label>
            Ingredients: {{ meal.totalIngredients - meal.missingIngredientsCount
            }}/{{ meal.totalIngredients }}
          </ion-label>
        </div>
        <div class="category">
          <ion-label>{{ meal.strCategory }}</ion-label>
          <ion-icon
            style="margin-top: 15px"
            [src]="getCategoryIcon(meal.strCategory)"
          ></ion-icon>
        </div>
      </ion-card>
    </div>

    <div *ngIf="isLoading" [@fadeOutIn]>
      <ion-card class="loadcard" *ngFor="let item of loaderArray">
        <ion-skeleton-text animated class="skeleton-image"></ion-skeleton-text>
        <h3>
          <ion-skeleton-text
            animated
            class="skeleton-title"
          ></ion-skeleton-text>
        </h3>
      </ion-card>
    </div>

    <div *ngIf="!showSearchResults && !isLoading">
      <ion-text color="secondary">
        <h2>Latest meal</h2>
      </ion-text>

      <ion-card
        *ngFor="let meal of latestMeals"
        (click)="dishDetailsModal(meal)"
      >
        <div class="card-image-container">
          <ion-img
            [src]="meal.strMealThumb"
            alt="{{ meal.strMeal }}"
            class="dish-img"
          />
          <ion-buttons class="favorite-button">
            <ion-button
              (click)="favoriteStatus[meal.idMeal] ? removeFavorite(meal) : addFavorite(meal); $event.stopPropagation()"
            >
              <ion-icon
                *ngIf="favoriteStatus[meal.idMeal]"
                name="heart"
                size="large"
                color="primary"
              ></ion-icon>
              <ion-icon
                *ngIf="!favoriteStatus[meal.idMeal]"
                name="heart-outline"
                size="large"
                color="primary"
              ></ion-icon>
            </ion-button>
          </ion-buttons>
        </div>
        <h3 class="ion-text-center">{{ meal.strMeal }}</h3>
        <div class="category">
          <ion-label>{{ meal.strCategory }}</ion-label>
          <ion-icon
            style="margin-top: 15px"
            [src]="getCategoryIcon(meal.strCategory)"
          ></ion-icon>
        </div>
      </ion-card>

      <ion-text color="secondary">
        <h2>Popular meals</h2>
      </ion-text>

      <swiper-container [autoplay]="{ delay: 30000 }" [speed]="1000">
        <swiper-slide *ngFor="let meal of randomMeal">
          <ion-card (click)="dishDetailsModal(meal)">
            <div class="card-image-container">
              <ion-img
                [src]="meal.strMealThumb"
                alt="{{ meal.strMeal }}"
                class="dish-img"
              />
              <ion-buttons class="favorite-button">
                <ion-button
                  (click)="favoriteStatus[meal.idMeal] ? removeFavorite(meal) : addFavorite(meal); $event.stopPropagation()"
                >
                  <ion-icon
                    *ngIf="favoriteStatus[meal.idMeal]"
                    name="heart"
                    size="large"
                    color="primary"
                  ></ion-icon>
                  <ion-icon
                    *ngIf="!favoriteStatus[meal.idMeal]"
                    name="heart-outline"
                    size="large"
                    color="primary"
                  ></ion-icon>
                </ion-button>
              </ion-buttons>
            </div>
            <h3 class="ion-text-center">{{ meal.strMeal }}</h3>
            <div class="category">
              <ion-label>{{ meal.strCategory }}</ion-label>
              <ion-icon
                style="margin-top: 15px"
                [src]="getCategoryIcon(meal.strCategory)"
              ></ion-icon>
            </div>
          </ion-card>
        </swiper-slide>
      </swiper-container>

      <div>
        <h2>Your meals</h2>
        <ion-card
          *ngFor="let recipe of recipes"
          (click)="createdDishDetailsModal(recipe)"
        >
          <ion-img [src]="recipe.image" class="dish-img"></ion-img>

          <h3 class="ion-text-center">{{ recipe.name }}</h3>
          <div class="category">
            <ion-label>{{ recipe.category}}</ion-label>
            <ion-icon
              style="margin-top: 15px"
              [src]="getCategoryIconTwo(recipe.category)"
            ></ion-icon>
          </div>
        </ion-card>
      </div>
    </div>
  </div>
</ion-content>
